<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Contoso University</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
       
        @Styles.Render("~/Content/themes/base/css")
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/dragdropList")

        @Scripts.Render("~/bundles/modernizr")

       
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Contoso University", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Students", "Index", "Student")</li>
                            <li>@Html.ActionLink("Courses", "Index", "Course")</li>
                            <li>@Html.ActionLink("Instructors", "Index", "Instructor")</li>
                            <li>@Html.ActionLink("Departments", "Index", "Department")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    <div id="body">


        <div class="ui-widget ui-helper-clearfix">

            <ul id="gallery" class="gallery ui-helper-reset ui-helper-clearfix ui-droppable">
                <li class="ui-widget-content ui-corner-tr ui-draggable ui-draggable-handle">
                    <h5 class="ui-widget-header">High Tatras</h5>
                    <img src="~/Images/high_tatras_min.jpg" alt="The peaks of High Tatras" width="96" height="72">
                    <a href="http://jqueryui.com/resources/demos/droppable/images/high_tatras.jpg" title="View larger image" class="ui-icon ui-icon-zoomin">View larger</a>
                    <a href="http://jqueryui.com/resources/demos/droppable/link/to/trash/script/when/we/have/js/off" title="Delete this image" class="ui-icon ui-icon-trash">Delete image</a>
                </li>
                <li class="ui-widget-content ui-corner-tr ui-draggable ui-draggable-handle">
                    <h5 class="ui-widget-header">High Tatras 2</h5>
                    <img src="~/Images/high_tatras2_min.jpg" alt="The chalet at the Green mountain lake" width="96" height="72">
                    <a href="http://jqueryui.com/resources/demos/droppable/images/high_tatras2.jpg" title="View larger image" class="ui-icon ui-icon-zoomin">View larger</a>
                    <a href="http://jqueryui.com/resources/demos/droppable/link/to/trash/script/when/we/have/js/off" title="Delete this image" class="ui-icon ui-icon-trash">Delete image</a>
                </li>

            </ul>

            <div id="trash" class="ui-widget-content ui-state-default ui-droppable">
                <h4 class="ui-widget-header"><span class="ui-icon ui-icon-trash">Trash</span> Trash</h4>
            </div>

        </div>



        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Contoso University</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/dragdropList")        
        @RenderSection("scripts", required: false)
    </body>
</html>