@model WebSite.ViewModels.BookDto

<li id="@Model.Id" class="book ui-widget-content ui-corner-tr ui-draggable ui-draggable-handle">
    <h6 class="ui-widget-header">@Model.Name</h6>

    @if (!string.IsNullOrEmpty(@Model.FilePath))
    {
        <img src="@Model.FilePath" alt="@Model.Name" width="96" height="72">
    }

    <div class="book-price-panel">
        <span class="book-price-amount">@Model.Price</span><span class="book-price-currency"> руб.</span>
    </div>
    <h6 class="ui-widget-header">@Model.Amount шт. было</h6>
    <h6 class="ui-widget-header">
        <span class="amount-ordered">@Model.RestAmount</span>
        шт. осталось
    </h6>    
</li>