@model IEnumerable<DataLayer.Model.Entities.BookEntity>

@{
    ViewBag.Title = "Promo Books";
}

<h2></h2>

<div class="ui-widget ui-helper-clearfix">

    <ul id="gallery" class="gallery ui-helper-reset ui-helper-clearfix ui-droppable">

        @foreach (var currentBook in Model)
        {
            <li class="ui-widget-content ui-corner-tr ui-draggable ui-draggable-handle">
                <h5 class="ui-widget-header">@currentBook.Name</h5>
                <img src="~/Images/high_tatras_min.jpg" alt="@currentBook.Name" width="96" height="72">
                <h6 class="ui-widget-header">@currentBook.Price руб.</h6>
                <h6 class="ui-widget-header">@currentBook.Amount шт.</h6>
                <a href="http://jqueryui.com/resources/demos/droppable/images/high_tatras.jpg" title="View larger image" class="ui-icon ui-icon-zoomin">View larger</a>
            </li>
        }

    </ul>

    <div id="trash" class="ui-widget-content ui-state-default ui-droppable">
        <h4 class="ui-widget-header"><span class="ui-icon ui-icon-trash">Trash</span> Trash</h4>
    </div>

</div>


<h2>Чат-комната</h2>

<div class="main">
    <div id="loginBlock">
        Введите логин:<br />
        <input id="txtUserName" type="text" />
        <input id="btnLogin" type="button" value="Войти" />
    </div>
    <div id="chatBody" >
        <div id="header"></div>
        <div id="inputForm">
            <input type="text" id="message" />
            <input type="button" id="sendmessage" value="Отправить" />
        </div>
        <div id="chatroom"></div>

        <div id="chatusers">
            <p><b>Все пользователи</b></p>
        </div>
    </div>
    <input id="hdId" type="hidden" />
    <input id="username" type="hidden" />
</div>


@section Scripts {    
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/signalR")      
    @Scripts.Render("~/bundles/dragdropList")
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/bundles/util")
    
}
